/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Estilo Geral */
body {
  margin: 0;
  background-color: #dedede;
  font-family: "Open Sans", sans-serif
}

.central {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Inico Nav */
nav {
  width: 75%;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
  font-size: 20px;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

li a:hover:not(.active) {
  background-color: #111;
}

.Logo {
  float: left;
  margin-left: 27%;
  width: 200px;
  height: 200px;
}

.Nome {
  float: left;
  color: white;
  margin-left: 0.2%;
  font-size: 20px;
  padding-top: -0.5%;
  margin-top: 1%;
}

.ultimoNav {
  float: right;
  margin-right: 28%;
}

/* Fim Nav */

/* Estilos para a segunda página */
.segundapagina {
  text-align: left;
  padding-top: 100px;
  width: 75%;
  display: flex;
  flex-direction: row;
}

.slogan {
  padding: 50px;
  width: 100%;
  background-color: #333;
}

.letraslogan {
   margin-bottom: -5%;
   margin-top: 3.5%;
  margin-left: 5%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 90px;
  color: white;
}

.titulo-terceira {
  font-size: 30px;
  margin-top: 5%;
  text-align: center;
  color: black;
  font-family: "Open Sans", sans-serif
}

/* Cards Politica */
.cards-1 {
  display: flex;
  margin-left: -13%;
  max-height: 1200;
}

.card1,
.card2,
.card3 {
  width: 269px;
  margin-top: 5%;
  padding: 0px 19px;
  margin-left: 5%;
  position: relative;
  color: black;
  background-color: #b4161e;
}

.card1:hover {
  transform: perspective(0px) translateY(-10%) scale(100%) translateZ(0);
}

.card2:hover {
  transform: perspective(0px) translateY(-10%) scale(100%) translateZ(0);
}

.card3:hover {
  transform: perspective(0px) translateY(-10%) scale(100%) translateZ(0);
}

.card1:hover {
  transform: translate3d(0%, -5%, 0);
  transition: all 0.5;
}

.card2:hover {
  transform: translate3d(0%, -5%, 0);
  transition: all 0.5;
}

.card3:hover {
  transform: translate3d(0%, -5%, 0);
  transition: all 0.5;
}

.cards-1:hover> :not(:hover) {
  transform: scale(95%);
  opacity: .7;
}

.cards-politica {
  font-size: 27px;
  margin-right: 50%;
  color: black;
  position: relative;
}

.linha-politica {
  padding: 1px;
  width: 45.7%;
  margin-left: 1.5%;
  margin-top: -2.2%;
  background-color: #b4161e;
}

.imgcard1 {
  width: 285.5px;
  height: 259px;
  margin-top: -8%;
  margin-left: 0.9%;
}

.letracard {
  text-align: left;
  position: relative;
  margin-right: -6%;
  color: white;
  font-size: 16px;
}

/* Fim Cards politica */

/* Inico cards Economia */
.cards-2 {
  display: flex;
  margin-left: -13%;
  max-height: 1200;
}

.card4,
.card5,
.card6 {
  width: 269px;
  margin-top: 5%;
  padding: 0px 19px;
  margin-left: 5%;
  position: relative;
  color: black;
  background-color: #E3A900;
}

.card4:hover {
  transform: perspective(0px) translateY(-10%) scale(100%) translateZ(0);
}

.card5:hover {
  transform: perspective(0px) translateY(-10%) scale(100%) translateZ(0);
}

.card6:hover {
  transform: perspective(0px) translateY(-10%) scale(100%) translateZ(0);
}

.card4:hover {
  transform: translate3d(0%, -5%, 0);
  transition: all 0.5;
}

.card5:hover {
  transform: translate3d(0%, -5%, 0);
  transition: all 0.5;
}

.card6:hover {
  transform: translate3d(0%, -5%, 0);
  transition: all 0.5;
}

.cards-2:hover> :not(:hover) {
  transform: scale(95%);
  opacity: .7;
}

.cards-Economia {
  font-size: 27px;
  margin-right: 48.4%;
  color: black;
  position: relative;
}

.linha-Economia {
  padding: 1px;
  width: 43.7%;
  margin-left: 2.9%;
  margin-top: -2.2%;
  background-color: #E3A900;
}

.imgcard2 {
  width: 285.5px;
  height: 259px;
  margin-top: -8%;
  margin-left: 0.9%;
}

.letracard {
  text-align: left;
  position: relative;
  margin-right: -6%;
  color: white;
  font-size: 16px;
}


/* Fim cards Economia */

/* Inico cards Esporte */
.cards-3 {
  display: flex;
  max-height: 1200;
  margin-left: -13%;
}

.card7,
.card8,
.card9 {
  width: 269px;
  margin-top: 5%;
  padding: 0px 19px;
  margin-left: 5%;
  position: relative;
  color: black;
  background-color: #228B22 ;
}

.card7:hover {
  transform: perspective(0px) translateY(-10%) scale(100%) translateZ(0);
}

.card8:hover {
  transform: perspective(0px) translateY(-10%) scale(100%) translateZ(0);
}

.card9:hover {
  transform: perspective(0px) translateY(-10%) scale(100%) translateZ(0);
}

.card7:hover {
  transform: translate3d(0%, -5%, 0);
  transition: all 0.5;
}

.card8:hover {
  transform: translate3d(0%, -5%, 0);
  transition: all 0.5;
}

.card9:hover {
  transform: translate3d(0%, -5%, 0);
  transition: all 0.5;
}

.cards-3:hover> :not(:hover) {
  transform: scale(95%);
  opacity: .7;
}

.cards-Esporte {
  font-size: 27px;
  margin-right: 49.2%;
  color: black;
  position: relative;
}

.linha-Esporte {
  padding: 1px;
  width: 44.6%;
  margin-left: 2.2%;
  margin-top: -2.2%;
  background-color:  #228B22;
}

.imgcard3 {
  width: 285.5px;
  height: 259px;
  margin-top: -8%;
  margin-left: 0.9%;
}

.letracard {
  text-align: left;
  position: relative;
  margin-right: -6%;
  color: white;
  font-size: 16px;
}


/* Fim cards Esporte */

/* Inico cards Viagem & Gastronomia */
.cards-4 {
  display: flex;
  margin-left: -13%;
  max-height: 1200;
}

.card10,
.card11,
.card12 {
  width: 269px;
  margin-top: 5%;
  padding: 0px 19px;
  margin-left: 5%;
  position: relative;
  color: black;
  background-color: #003366;
}

.card10:hover {
  transform: perspective(0px) translateY(-10%) scale(100%) translateZ(0);
}

.card11:hover {
  transform: perspective(0px) translateY(-10%) scale(100%) translateZ(0);
}

.card12:hover {
  transform: perspective(0px) translateY(-10%) scale(100%) translateZ(0);
}

.card10:hover {
  transform: translate3d(0%, -5%, 0);
  transition: all 0.5;
}

.card11:hover {
  transform: translate3d(0%, -5%, 0);
  transition: all 0.5;
}

.card12:hover {
  transform: translate3d(0%, -5%, 0);
  transition: all 0.5;
}

.cards-4:hover> :not(:hover) {
  transform: scale(95%);
  opacity: .7;
}

.cards-ViagemeGastronomia {
  font-size: 27px;
  margin-right: 39.1%;
  color: black;
  position: relative;
}

.linha-ViagemeGastronomia {
  padding: 1px;
  width: 34.5%;
  margin-left: 11.99%;
  margin-top: -2.2%;
  background-color: #003366;
}

.imgcard4 {
  width: 285.5px;
  height: 259px;
  margin-top: -8%;
  margin-left: 0.9%;
}

.letracard {
  text-align: left;
  position: relative;
  margin-right: -6%;
  color: white;
  font-size: 16px;
}

/* Fim cards Viagem & Gastronomia */

/* Inico copy */
.copy {
  padding: 15px;
  width: 98.4%;
  background-color: #333;
  margin-top: 5%;
}

.letrascopy {
  text-align: center;
  font-size: 15px;
  color: white;
}

/* Fim copy */

.ad-es,
.ad-di {
  color: white;
  background-color: rgb(124, 149, 163);
  padding: 10px;
  text-align: center;
  width: 150px;
  position: fixed;
  top: 0;
  bottom: 0;
}

.ad-es {
  left: 0;
}

.ad-di {
  right: 0;
}
